.loading-fallback {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    // width: 104px;
    height: 250px;
  }

  @media (max-width: 720px) {
    img {
      height: 150px;
    }
  }
}